/* Styles for the About Me section */
.about-me-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 0 10px;
    flex: 1;
    text-align: center;
}

.about-me-card h2 {
    color: #000;
    margin-bottom: 10px;
}

.about-me-card p {
    color: #333;
}

  
  
  